x-moves {
    /* Color */
    color: black;

    /* Font */
    font-size: 4em;

    /* Space */
    padding: 0;
    margin:  0;

    /* Layout */
    flex:       0 1 auto;
    box-sizing: border-box;

    /* Layout */
    display:         flex;
    flex-flow:       column nowrap;
    align-items:     center;
    justify-content: center;
}
