x-moves {
    /* Color */
    color: #000000;

    /* Font */
    font-size: 4em;

    /* Space */
    padding: 0;
    margin:  0;

    /* Layout */
    flex:       0 1 auto;
    box-sizing: border-box;

    /* Layout */
    display:         flex;
    flex-flow:       column nowrap;
    align-items:     center;
    justify-content: center;
}

.strawberry x-moves {
    /* Color */
    color: #F20C32;
}

.peach x-moves {
    /* Color */
    color: #F24856;
}

.lemon x-moves {
    /* Color */
    color: #FFC907;
}

.sky x-moves {
    /* Color */
    color: #022C7F;
}

.spirit x-moves {
    /* Color */
    color: #281D47;
}
