x-win {
    /* Font */
    font-size: 1em;

    /* Space */
    padding: 0;
    margin:  0;
    gap:     0.4em;

    /* Border */
    border-radius: 16px;

    /* Layout */
    flex:       1 1 auto;
    box-sizing: border-box;

    /* Layout */
    display:         flex;
    flex-flow:       row nowrap;
    align-items:     center;
    justify-content: space-between;
    align-self:      stretch;
}

x-win > a {
    /* Color */
    color:      #FFFFFF;
    background: #404040;

    /* Font */
    font-family: roboto;
    font-weight: bold;
    font-style:  normal;
    font-size:   2em;

    /* Font */
    text-decoration: none;

    /* Space */
    padding: 0.2em;
    margin:  0;

    /* Border */
    border-width:  0;
    border-radius: 16px;

    /* Shadow */
    box-shadow: 0 8px 0 0 #222222;

    /* Selection */
    user-select: none;

    /* Layout */
    flex:       1 1 50%;
    box-sizing: border-box;

    /* Layout */
    display:         flex;
    flex-flow:       row nowrap;
    align-items:     center;
    justify-content: center;
}

x-win > a:active {
    /* Shadow */
    box-shadow: 0 0 0 0 #000000;

    /* Translate */
    translate: 0 8px;
}
